/** @format */

@import url('https://fonts.googleapis.com/css?family=Kodchasan&display=swap');

body {
  font-family: 'Kodchasan', sans-serif;
  background: #fff;
}

.container {
  padding: 40px;
}

#bill {
  float: left;
  /* padding: 20px 0px 0px 30px; */
  width: 50%;
}

#ship {
  float: right;
  width: 50%;
  /* padding: 20px 0px 20px 30px; */
}

.title {
  font-size: 20px;
  padding-bottom: 10px;
}

input {
  padding-bottom: 10px;
}

.inputStyle {
  width: 80%;
  border: 3px solid #00b4cc;
  padding: 10px;
  margin-bottom: 5px;
  height: 13px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
}

#dates {
  padding-top: 28px;
  padding-bottom: 45px;
  clear: both;
}

.dateField {
  border: 3px solid #00b4cc;
  padding: 10px;
  padding-right: 20px;
  height: 13px;
  border-radius: 5px;
  outline: none;
  font-size: 20px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.productField {
  border: 3px solid #00b4cc;
  padding: 10px;
  height: 13px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
}

.deleteButton {
  transition-duration: 0.4s;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  background-color: rgb(230, 219, 219);
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.deleteButton:hover {
  background-color: #e43018; /* Green */
  color: white;
}

.addButton {
  transition-duration: 0.4s;
  border: none;
  padding: 10px 15px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  background-color: rgb(230, 219, 219);
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.addButton:hover {
  background-color: #20b9e7; /* Green */
  color: white;
}

/* Media queries for responsiveness */

/* @media (max-width: 568px) {
  #home {
    padding: 300px 45px 158px 64px;
    text-align: center;
  }

  #title {
    font-size: 38px;
  }
}

@media (max-width: 480px) {
  #home {
    padding: 300px 45px 158px 64px;
    text-align: center;
  }

  #title {
    font-size: 38px;
  }
}

@media (max-width: 415px) {
  #home {
    padding: 300px 45px 158px 64px;
    text-align: center;
  }

  #title {
    font-size: 33px;
  }
} */
